@import "variables";

.search {
  position: relative;
}

.search__input {
  width: min(320px, 70vw);
  border-radius: 4px;
  border: 1px solid #eceff4;
  padding: 0.8rem 3rem 0.8rem 1.25rem;
  font-size: 0.95rem;
  outline: none;
  background: #fff;
}

.search__input:focus {
  border-color: $color-dark;
}

.search__icon {
  position: absolute;
  right: 1.1rem;
  top: 50%;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
}
