@use "variables" as *;
@use "mixins" as *;

.search {
  position: relative;
}

.search__input {
  width: min(320px, 70vw);
  @include input-base();
}

.search__input:focus {
  border-color: $color-dark;
}

.search__icon {
  position: absolute;
  right: 1.1rem;
  top: 50%;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
}
