@use "variables" as *;
@use "mixins" as *;

.tabs__button {
  @include inline-button-base($gray-600, 0.65rem, 1.4rem, 0.5rem);
}

.tabs__count {
  font-size: 0.85rem;
  vertical-align: super;
  position: relative;
  top: -0.2em;
}

.tabs__button--active {
  color: $primary;
  border: 1px solid $primary;
  border-radius: 4px;
}
